@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
   font-family: 'Montserrat', 'sanserif';
} */

.bg-glass {
   background: rgba(255, 255, 255, 0.17);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(7.4px);
   -webkit-backdrop-filter: blur(7.4px);
   border: 1px solid rgba(255, 255, 255, 0.08);
}


.fixed-size-image {
   width: 100px; /* Ubah ukuran sesuai kebutuhan Anda */
   height: 100px; /* Ubah ukuran sesuai kebutuhan Anda */
   object-fit: cover; /* Agar gambar menyesuaikan ke dalam ukuran tetap */
}

.image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px; /* Ubah ukuran sesuai kebutuhan Anda */
}


